@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie App</h1>
    <p>Click the Movie App button at the top of the page to access the movie database</p>
</div>
