@{
    ViewData["title"] = "Home Page";
}

<div class="text-center text-black">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web app with ASP.NET Core</a>.</p>
</div>

<a asp-action="Index" asp-controller="TVShow" class="btn btn-primary">Go to TV Shows</a>