<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MoviesApp</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Movies.styles.css" asp-append-version="true"/>
    <script src="https://kit.fontawesome.com/68c42abbaa.js" crossorigin="anonymous"></script>
</head>
<body class="bg-black">
<header>
    <nav class="h-16 bg-black border-b border-gray-500 px-4 py-2 flex items-center justify-between">
        <a type="button" class="text-white font-bold text-2xl" asp-page="/Index">
            <i class="fa-solid fa-film text-red-600"></i> MovieApp
        </a>
        <form class="w-1/2" asp-controller="Movies" asp-action="Index" method="get">
            <input type="search" name="SearchString" class="bg-gray-800 rounded-2xl px-4 py-2 text-white w-full" placeholder="Search..." />
        </form>
        <a type="button" class="bg-red-600 text-white font-bold px-4 py-2 rounded-2xl hover:bg-red-400 transition-all duration-200" asp-action="Create">Add Movie</a>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>