@model Data.Models.Movie

<div class="text-white p-10">
    <h2 class="text-4xl text-white text-center font-bold py-4">Edit Movie</h2>
    <div>
        <form method="post" asp-action="Edit" class="flex flex-col gap-4 items-center mt-10">
            <div class="flex flex-col gap-2 w-[400px]">
                <div class="flex gap-2 items-center">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="w-full bg-gray-800 rounded-2xl px-4 py-1 text-lg text-white"/>
                </div>
                <span asp-validation-for="Title" class="text-red-600 font-bold"></span>
            </div>
            <div class="flex flex-col gap-2 w-[400px]">
                <div class="flex gap-2 items-center">
                    <label asp-for="ReleaseDate"></label>
                    <input asp-for="ReleaseDate" type="date" class="w-full bg-gray-800 rounded-2xl px-4 py-1 text-lg text-white"/>
                </div>
                <span asp-validation-for="ReleaseDate" class="text-red-600 font-bold"></span>
            </div>
            <div class="flex flex-col gap-2 w-[400px]">
                <div class="flex gap-2 items-center">
                    <label asp-for="Genre"></label>
                    <input asp-for="Genre" class="w-full bg-gray-800 rounded-2xl px-4 py-1 text-lg text-white"/>
                </div>
                <span asp-validation-for="Genre" class="text-red-600 font-bold"></span>
            </div>
            <div class="flex flex-col gap-2 w-[400px]">
                <div class="flex gap-2 items-center">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="w-full bg-gray-800 rounded-2xl px-4 py-1 text-lg text-white"/>
                </div>
                <span asp-validation-for="Price" class="text-red-600 font-bold"></span>
            </div>
            <div class="flex flex-col gap-2 w-[400px]">
                <div class="flex gap-2 items-center">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="w-full bg-gray-800 rounded-2xl px-4 py-1 text-lg text-white"/>
                </div>
                <span asp-validation-for="ImageUrl" class="text-red-600 font-bold"></span>
            </div>
            <div class="flex items-center gap-6">
                <a type="button" asp-action="Index" class="font-bold px-4 py-2 bg-white text-black hover:bg-black hover:text-white transition-all duration-200 cursor-pointer rounded-2xl">Back</a>
                <input type="submit" value="Save" class="font-bold px-4 py-2 bg-red-600 hover:bg-red-400 transition-all duration-200 cursor-pointer rounded-2xl"/>
            </div>
        </form>
    </div>
</div>
