@model TvShowDto

@{
    ViewData["Title"] = "Edit - TV Show";
}

<h1>TV Show</h1>
<hr />

<form asp-action="Edit">

    <div class="row mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="row mb-3">
        <div class="col-md-1">
            <label asp-for="Title" class="form-label"></label>
        </div>
        <div class="col-lg-3">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-1">
            <label asp-for="WatchedDate" class="form-label"></label>
        </div>
        <div class="col-lg-3">
            <input asp-for="WatchedDate" class="form-control" />
            <span asp-validation-for="WatchedDate" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-1">
            <label asp-for="Rating" class="form-label"></label>
        </div>
        <div class="col-lg-3">
            <select asp-for="RatingId" class="form-select" asp-items="ViewBag.RatingId"></select>
            <span asp-validation-for="RatingId" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a button type="button" class="btn btn-secondary" asp-action="Index">Cancel</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
