html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Assets/HomeBackGround2.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    
}

.card{
    color:ivory;
    background-color:royalblue;
}

a{
    text-decoration:none;
    color:ivory;
}

a:hover{
    color:darkorange;
}

header {
    background-blend-mode:overlay;
}

.addbutton{
    border-color: #CCCCCC;
    color: #CCCCCC;
    background-color: transparent;
}
.addbutton:hover {
    border-color: #CCCCCC;
    color: royalblue;
    background-color: darkorange;
}

.viewButton {
    border-color: royalblue;
    border-style:double !important;
    font-weight:bold;
    color: royalblue;
}

.viewButton:hover {
    border-color: royalblue;
    background-color:darkorange;
    border-style: double !important;
    font-weight: bold;
    color: royalblue;
}


.table th {
    background-color: royalblue;
    background-blend-mode: overlay;
}
.table td {
    background-color: #CCECEE;
    background-blend-mode: overlay;
}

.table tbody tr:hover,
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #CAEAE0 !important;
    
}

form, label {
    color: royalblue !important;
    font-weight:bold !important;
}

input {
    background-image: url(/Assets/HomeBackGround2.png)!important;
}


h2{
    color:darkorange;
}

.nav-link{
    color:royalblue;
}

.nav-link:hover {
    color: darkorange;
}