@model Movies.Models.Movie;
@{

}

<h3>Are you sure you want to delete movie?</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteMovie" method="post">
            <input type="hidden" asp-for="Id" />
            <p>@Model.Title</p>
            <p>@Model.Year</p>
            <p>@Model.Genre</p>
            <p>@Model.DurationInMinutes</p>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}