@model TheatricalPerformanceDto

@{
    ViewData["Title"] = "Delete - Theatrical Performance";
}

<h1>Theatrical Performance</h1>
<hr />

<div class="row mb-3">
    <div class="col-md-1">
        <label class="form-label" asp-for="Title"></label>
    </div>
    <div class="col-lg-3">
        <input class="form-control" readonly asp-for="Title" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-1">
        <label class="form-label" asp-for="WatchedDate"></label>
    </div>
    <div class="col-lg-3">
        <input class="form-control" readonly asp-for="WatchedDate" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-1">
        <label class="form-label" asp-for="Rating"></label>
    </div>
    <div class="col-lg-3">
        <input class="form-control" readonly asp-for="Rating!.Name" />
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a button type="button" class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
