@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-1 text-center mt-5 mb-1">Welcome to the Watched List!</h1>
    <h2 class="display-6 text-center mb-5">Select a category to explore and manage what you have watched.</h2>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <a asp-area="" asp-controller="Movies" asp-action="Index">
                <div class="card-header text-center">
                    Movies
                </div>
                <img src="~/img/movies-image.png" class="card-img-top" alt="movies image">
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <a asp-area="" asp-controller="TvShows" asp-action="Index">
            <div class="card-header text-center">
                TV Shows
            </div>
                <img src="~/img/tv-shows-image.png" class="card-img-top" alt="tv shows image">
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <a asp-area="" asp-controller="TheatricalPerformances" asp-action="Index">
                <div class="card-header text-center">
                Theatricals
            </div>
                <img src="~/img/theatrical-performances-image.png" class="card-img-top" alt="theatrical performances image">
            </a>
        </div>
    </div>
</div>

