<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/MVC.Movies.K_MYR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark box-shadow mb-2">
            <div class="container">
                <img class="me-3" src="~/img/movie-clapper.svg" width="auto" height="55px" alt="" />                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link red lead" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link red lead" asp-area="" asp-controller="Movies" asp-action="Index"><strong>Movies</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link red lead" asp-area="" asp-controller="TVShows" asp-action="Index"><strong>TV Shows</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="main-container" class="container bg-dark text-white rounded-3 py-2 px-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>  
    <script src="~/lib/ion-rangeslider/js/ion.rangeSlider.min.js"></script>  
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
