@{
    ViewData["Title"] = "Homepage";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Welcome</h1>
    <a asp-controller="Movies" asp-action="Index">Movies</a>
    <a asp-controller="Albums" asp-action="Index">Music Albums</a>
</div>