html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem white;
    outline: none;
}

.formButton {
    background-color: #eb0e0e;
    color: white;
}

.formButton:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.20rem black;
    outline: none;
}

.form-control:focus {
    box-shadow: 0 0 0 1px #eb0e0e, 0 0 0 1px transparent;  
    border-color: #eb0e0e;  
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(235, 14, 14,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
    margin-bottom: 60px;
    background-color: #383838;      
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    color: white !important;
}

.addButton {
    color: #eb0e0e;
    border: none
}

.addButton:hover, .addButton:focus {
    color: white;   
}

.search-icon {
    width: 5%;
    min-width: 22px;
    max-width: 42px;
}

#movies-search:focus {
    box-shadow: none;    
    border: 1px solid #eb0e0e;
    outline: 2px solid #eb0e0e;
    padding-bottom: 6px;
}    

#filter-accordion {       
    border-radius: 12px 12px 12px 12px !important;
    border-style: groove !important;
    border-color: #eb0e0e !important;
    border-top: none !important;
    border-bottom: none !important;
    overflow: hidden;
}

.accordion-body label {
    font-weight: bold;
}

.range-input {
    position: relative;
    top: 20px;
    width: 45px;
}

.irs {
    flex-grow: 1;
}

.irs-from, .irs-to, .irs-single {
    background-color: #eb0e0e !important;
    border-radius: 10px;
}

.irs-bar {
    background-color: #eb0e0e !important;
}

.irs-handle {
    border: 3px solid #eb0e0e !important;
}

.filter-btn {
    border-radius: 8px;
    border: none;
    background-color: #eb0e0e;
    color: white;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eb0e0e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

.dataTables_scroll {    
    border-radius: 12px 12px 12px 12px;
    border-style: groove;
    border-color: #eb0e0e;
    border-top: none;
    border-bottom: none;
}

.table.dataTable {
    margin-top: 0px !important;
}

.table-hover tbody tr:hover {
    color: #eb0e0e;
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.table-btn {
    background-color: inherit;
    border: none;
}

.page-link {
    padding: .250rem .75rem;
}

.page-item.active .page-link {
    background-color: #eb0e0e;
    border-color: #eb0e0e;
}

.red {
    color: #eb0e0e;
}
