@model Movies.Models.TvShow

@{
    ViewData["Title"] = "Edit";
}

<div class="row bannertv align-items-center">
    <div class="col">
        <h1>
            TV Shows
        </h1>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
            <a class="nav-link" asp-action="Index">Index</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" asp-action="Create">Create New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-action="Edit">Edit</a>
    </li>
</ul>

<div class="tab-content p-3" id="myTabContent">
    <h4>TV Show</h4>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" asp-items="Movies.Models.ValidRatings.TvShowsRatings"></select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group p-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}