@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            <a asp-area="" asp-controller="Patient" asp-action="Index">
                <div class="card">
                    <img class="card-img-top" width="500px" height="500px" src="/Assets/patientmanagement.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Patient Management</h4>


                    </div>

            </a>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <a asp-area="" asp-controller="Exam" asp-action="Index">
            <div class="card">
                <img class="card-img-top" height="500px" width=" 500px" src="/Assets/exammanagement.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-center">Examination Management</h4>
                </div>
           
        </a>
    </div>
</div>
</div>