@model MVC.Movies.K_MYR.Models.TVShow


<div class="modal fade" id="addTVShow" aria-labelledby="addTVShow-label" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-2 text-center">
                <h3 id="addTVShow-label" class="red">Add TV Show</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black pt-2">
                <form id="addTVShowForm" method="post" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-1">
                        <label asp-for="Title" class="control-label "></label>
                        <input asp-for="Title" value="" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="Seasons" class="control-label "></label>
                        <input asp-for="Seasons" value="" class="form-control" />
                        <span asp-validation-for="Seasons" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="Genre" class="control-label"></label>
                        <input asp-for="Genre" value="" class="form-control" />
                        <span asp-validation-for="Genre" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" value="" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" value="" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rating" class="control-label"></label>
                        <input asp-for="Rating" value="" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Add" class="btn formButton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateTVShow" aria-labelledby="updateTVShow-label" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-2 align-contents-center">
                <h3 id="updateTVShow-label" class="text-truncate red"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black pt-2">
                <form id="updateTVShowForm" method="post" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="updateTVShow-input_id" asp-for="Id">
                    <div class="form-group mb-1">
                        <label asp-for="Title" class="control-label "></label>
                        <input id="updateTVShow-input_title" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="Seasons" class="control-label "></label>
                        <input id="updateTVShow-input_seasons" asp-for="Seasons" class="form-control" />
                        <span asp-validation-for="Seasons" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="Genre" class="control-label"></label>
                        <input id="updateTVShow-input_genre" asp-for="Genre" class="form-control" />
                        <span asp-validation-for="Genre" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input id="updateTVShow-input_release" asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-1">
                        <label asp-for="Price" class="control-label"></label>
                        <input id="updateTVShow-input_price" asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rating" class="control-label"></label>
                        <input id="updateTVShow-input_rating" asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Edit" class="btn formButton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteTVShow" aria-labelledby="deleteTVShow-label" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-2">
                <h3 id="deleteTVShow-label" class="text-truncate red"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                <p class="text-break" id="deleteConfirmationMessage"></p>
                <form id="deleteTVShowForm" method="post" asp-action="Delete">
                    <input type="hidden" id="deleteTVShow-input_id" asp-for="Id">
                    <div class="form-group mt-3">
                        <input type="submit" value="Delete" class="btn formButton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>