@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">Welcome</h1>
    <p class="title">In this app you can record all your favorite movies and TV series.</p>
</div>
